body {
	background-color: #fcfcfc;
	overflow-y: scroll;
}
main {
	margin: 50px auto;
}

.header {
	color: #ee6e73;
}
.input-field label.active {
	font-size: 1rem;
}

#home,
#poll,
#manage,
#edit {
	position: relative;
}
#home > .col,
#poll > .col,
#manage > .col,
#edit > .col {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#home .card .row {
	margin-bottom: 0;
}
#home .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	margin-right: 0;
}

#manage .valign-wrapper {
	position: relative;
}
#manage .valign-wrapper .btn-floating {
	position: absolute;
	right: 0;
}
#manage .fixed-action-btn.horizontal ul li {
	margin: 8px 6px;
}
#manage .collapsible .collapsible-body {
	position: relative;
}
#manage .collapsible .fixed-action-btn {
	position: absolute;
	top: 23px;
}

#modal {
	max-width: 400px;
}
#modal h4 {
	margin-top: 20px;
}
#modal .col:not(h4) {
	font-size: 18px;
}

#edit .delete-option {
	top: 10px;
}