{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">

{{template "head" .}}

<body>

	<main>
		<div class="container">
			<div class="row">
				<div class="col s12 m6">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Card Title</span>
							<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{template "script" .}}

	<script type="text/javascript">
		$(document).ready(function() {
			
			page('/poll', poll)
			page('/', home);
			page('*', notFound);
			page();
		});
		
		var pollID = '';

		/*
		  ========================================
		  Home
		  ========================================
		*/

		function home() {

		}

		function homeEventHandler() {

		}

		/*
		  ========================================
		  Poll
		  ========================================
		*/

		function poll() {

		}

		function loadPoll() {
			$.ajax({
                type: 'GET',
                url: '/loadPoll/' + pollID,
                dataType: 'json',
                cache: false
            }).done(function(json, textStatus, jqXHr) {
            	console.log('load poll');
            }).fail(function(jqXHr, textStatus, errorThrown) {
                handleAjaxError(jqXHr, textStatus);
            }).always(function() {});
		}

		function submitResponse(data) {
			$.ajax({
	            type: 'POST',
	            url: '/submitResponse/' + pollID,
	            data: data,
	            contentType: 'application/json; charset=utf-8',
	            dataType: 'json',
	            cache: false
	        }).done(function(json, textStatus, jqXHr) {
	        	console.log('submit response');
	        }).fail(function(jqXHr, textStatus, errorThrown) {
	            handleAjaxError(jqXHr, textStatus);
	        }).always(function() {});
		}

		function pollEventHandler() {
		    
		}
	</script>

</body>

</html>

{{end}}