{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">

{{template "head" .}}

<body>

	{{template "nav" .}}

	<main>
		<div class="container">
			
		</div>
	</main>

	{{template "script" .}}

	<script type="text/javascript">
		$(document).ready(function() {
			
			page('/', home);
			page('*', notFound);
			page();
		});
		
		var pollID = '';
		var name = '';

		/*
		  ========================================
		  Home
		  ========================================
		*/

		function home() {
			var homeHTML = `
				<div id="home" class="row">
					<div class="col s12 m6">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<span class="card-title">Card Title</span>
								<div class="row">
									<form class="col s12">
										<div class="row">
											<div class="input-field col s12">
												<input class="name" type="text">
												<label>Name</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<input class="code" type="text">
												<label>Code</label>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="card-action">
								<a class="submit-code btn waves-effect waves-light">Submit
									<i class="material-icons right">send</i>
								</a>
							</div>
						</div>
					</div>
				</div>`;

			$('main .container').html(homeHTML);

			// createPoll();

			homeEventHandler();
		}

		function createPoll() {
			var array = [{'name': 'question', 'value': 'myQuestion'}, {'name': 'option', 'value': 'myOption'}];
			
			var data = {
	    		entries: array
	    	}

	    	var myJSON = JSON.stringify(array);

			$.ajax({
	            type: 'POST',
	            url: '/createPoll',
	            data: myJSON,
	            contentType: 'application/json; charset=utf-8',
	            dataType: 'json',
	            cache: false
	        }).done(function(json, textStatus, jqXHr) {
	        	console.log(json);
	        }).fail(function(jqXHr, textStatus, errorThrown) {
	            handleAjaxError(jqXHr, textStatus);
	        }).always(function() {});
		}

		function submitCode(data) {
			$.ajax({
	            type: 'POST',
	            url: '/submitCode',
	            data: data,
	            contentType: 'application/json; charset=utf-8',
	            dataType: 'json',
	            cache: false
	        }).done(function(json, textStatus, jqXHr) {
	        	poll(json);
	        }).fail(function(jqXHr, textStatus, errorThrown) {
	            handleAjaxError(jqXHr, textStatus);
	        }).always(function() {});
		}

		function homeEventHandler() {
			$('main #home').on('click', '.submit-code', function() {
				name = $('input.name').val();

				var data = {
					code: parseInt($('input.code').val())
				}

				submitCode(JSON.stringify(data));
			});
		}

		/*
		  ========================================
		  Poll
		  ========================================
		*/

		function poll(json) {
			pollID = json.id;

			var pollHTML = `
				<div id="poll" class="row">
					<div class="heading col s10 m8 l6">
						<div class="row">
							<h3 class="header col s12">Poll</h3>
							<h4 class="header col s12">` + json.question + `</h4>
						</div>
					</div>
					<form class="col s10 m8 l6">
						<div class="row"></div>
					</form>
					<div class="poll-actions col s10 m8 l6">
						<a class="submit-response right waves-effect waves-light btn"><i class="material-icons right">send</i>Submit</a>
					</div>
				</div>`;

			$('main .container').html(pollHTML);

			var $form = $('form .row');

			$.each(json.options, function(i, option) {
				var optionHTML = `
					<h5 class="col s12">` + option + `</h5>
					<p class="range-field col s12">
						<input class="option" type="range" min="-2" max="2" />
					</p>`;

				$form.append(optionHTML);
			});

			pollEventHandler();
		}

		function submitResponse(data) {
			$.ajax({
	            type: 'POST',
	            url: '/submitResponse/' + pollID,
	            data: data,
	            contentType: 'application/json; charset=utf-8',
	            dataType: 'json',
	            cache: false
	        }).done(function(json, textStatus, jqXHr) {
	        	console.log('submit response');
	        }).fail(function(jqXHr, textStatus, errorThrown) {
	            handleAjaxError(jqXHr, textStatus);
	        }).always(function() {});
		}

		function pollEventHandler() {
		    $('main #poll').on('click', '.submit-response', function() {
		    	var array = [];
				$('input.option').map(function() {
				    array.push(parseFloat($(this).val()));
				});

		    	var data = {
		    		name: name,
		    		ratings: array
		    	}

		    	submitResponse(JSON.stringify(data));
		    });
		}
	</script>

</body>

</html>

{{end}}